body {
  font-family: 'Montserrat', sans-serif;
}
.logo-header {
  font-weight: 900;
  font-size: 7vw;
  text-align: center;
  color: black;
  padding: 40px 0;
}
.navbar-ania {
  background-color: transparent;
}
.navbar-center {
  justify-content: center;
  margin: 0 auto;
  text-transform: uppercase;
}
.navbar-ania-item {
  color: black;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.navbar-in {
  width: 150px;
  color: black;
  background-color: transparent;
}
.navbar-in:focus-within {
  width: 150px;
  color: black;
  background-color: transparent;
}
a.navbar-item:focus-within {
  background-color: transparent;
}
.navbar-ania-item:hover {
  background-color: transparent !important;
  color: black !important;
  font-weight: 600;
}
.navbar-in-active {
  font-weight: 600;
}
.background-pic {
  background: linear-gradient(to bottom, rgba(255,255,255,0) 40%,
          rgba(255,255,255,1)), url(bg.jpg);
  height: 600px;
}
.header-ania {
  text-transform: uppercase;
}
.divider {
  background-color: black;
  height: 1px;
  width: 100%;
}
.text-black {
  color: black !important;
}
@media screen and (min-width: 1023px) {
  .navbar-ania {
    padding: 0 64px;
  }
}
@media screen and (max-width: 1023px) {
  .navbar-menu {
    background-color: transparent;
    padding: 0.5rem 0;
    box-shadow: none;
  }
  .navbar-ania {
    padding: 0;
  }
  .navbar {
    min-height: 0;
  }
}
